@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;

}

/* test border */
.bor{
    border: 1px solid red;
}

/* Header, navbar and banner section */
header{
    width: 85%;
    height: auto;
    margin: 52px auto;
    

}

.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.travel-site-name{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.travel-site-name .website-logo{
    width: 48px;
    height: 56.008px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.travel-site-name h1{
    margin-left: 17px;
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.travel-site-name h1 span{
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;

    
}

.nav-item{
    display: block;

}

ul li a{
    text-decoration: none;
    color:  #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.nav-item:first-child a{
    color: #FF5400;
}

nav ul{
    display: flex;
    gap: 44px;
}

.hamburger{
    display: none;
}

.banner{
    background-image: url("Images/Group\ 13.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    border-radius: 16px;
    margin-top: 50px;
    

}

.image{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.travel-data-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.travel-data-container h1{
    text-align: center;
    width: 600px;
    height: 80px;
    font-size: 64px;
    color: #FFF;
    font-weight: 800;

}

.travel-data-container p{
    margin-top: 24px;
    width: 676px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;

}

.input-option-find{
    margin-top: 48px;
    width: 800px;
    height: 84px;
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.input-option-find > *{
    width: 174px;
    height: 52px;
    border-radius: 8px;
}

.input-option-find select, input, div{
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-option-find input{
    padding-left: 15px;
}

.input-option-find div{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.input-option-find button{
    display: flex;
    align-items: center;
    gap:9px;
    border: none;
    justify-content: center;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Tour advertise section */
main{
    width: 85%;
    height: 800px;
    margin: 100px auto;
}

.tour-advertise-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tour-advertise-section .image{
    width: 40%;
    height: 90%;
    
}

.tour-advertise-section .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;

}

.description{
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
    height: 60%;
    box-shadow: 0 0 40px grey;
    border-radius: 16px;
    padding: 20px;

}

.description h1{
    text-align: left;
    width: 600px;
    font-size: 2.5rem;
    color: #5e5e61;

    font-weight: 800;

}

.description h6{
    font-size: 24px;
    font-weight: 800;
    color: black;
}

.description p{
    width: 90%;
}

.book-image{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;

}

.book-image div{
    width: 48%;
    height: 100%;
    background-position: center;
    border-radius: 10px;

}
.travel1{
    background-image: url(Images/travel1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.travel2{
    background-image: url(Images/travel2.jpg);
    background-size: cover;
    background-position: center;

}

.description button{
    cursor: pointer;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap:9px;
    border: none;
    justify-content: center;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Popular tour section*/

.popular-tour{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.popular-tour > *{
    width: 46%;
    height: 100%;
}

.tour-popular-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.tour-popular-details h1{
    margin-bottom: 24px;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.tour-popular-details p{
    margin-bottom: 24px;
}

.tour-popular-details ul li{
    margin-bottom: 16px;
}

.tour-popular-details p, ul li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.tour-popular-details ul{
    margin-left: 20px;
}

.last-paragraph {
    margin-top: 24px;
}

.tour-popular-details ul li{
    margin-bottom: 16px;
}

.tour-popular-details button{
    margin-top: 32px;
    cursor: pointer;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap:9px;
    border: none;
    justify-content: center;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.popular-tour .image{
    /* width: 50%; */
    height: 100%;
    /* background-image: url("Images/Rectangle_4.png"); */
    /* background-size: cover; */

}

.popular-tour .image img{
    width: 100%;
    height: 100%;
}


/* Place section */
.place{
    
    width: 100%;
    height: auto;
    margin-top: 100px;
    
}


.place-container{
    /* margin-top: 140px; */
    height: 80%;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aria{
    border-radius: 16px;
}

.aria div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%); 
    height: 100%;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;

}

.area-1{
    background-image: url("Images/Rectangle\ 5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 49%;
height: 300px;
    
}
.area-2{
    background-image: url("Images/Rectangle\ 8.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

    width: 49%;
    height: 300px;

}
.area-3{
    background-image: url("Images/Rectangle\ 6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 33%;
    
    height: 286px;
}
.area-4{
    background-image: url("Images/Rectangle\ 7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 39.5%;
height: 286px;
    }

.area-5{
    background-image: url("Images/Rectangle\ 9.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 24%;

height: 286px;
}

.area-6{
    background-image: url("Images/Rectangle\ 11.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 40%;
    height: 300px; 
}
.area-7{
    background-image: url("Images/Rectangle\ 10.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 58%;
    height: 300px;
}

.place h1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.place p{
    margin: 24px auto 48px auto;
    text-align: center;
    width: 690px;
    font-size: 16px;
    line-height: 26px;
}


/* Why choose us section */

.why-choose-us{
    margin-top: 100px;
}

.why-choose-us > h1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.why-choose-us > p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px auto 48px auto;
    width: 643px;
}

.services-container {
    gap: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.services{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-start;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 48%;
    height: 284px;
    padding: 32px;
}

.services h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 32px 0 16px 0;
}

.services p{
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.box-2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.box-3{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* deals-discount-section */

.deals-discount-section{
    width: 100%;
    margin-top: 100px;
}

.deals-discount-section h1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.deals-discount-section > p{
    width: 643px;
    margin: 24px auto 48px auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.discount-box{
    height: 550px;
    width: 100%;
    /* background-image: url("Images/Group\ 39.png"); */
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 24px;

}

.discount-bg-1{
    background-image: url("Images/Group\ 39.png");    
}
.discount-bg-2{
    background-image: url("Images/Group\ 40.png");
    justify-content: flex-start;
}

.discount-bg-2 .discount-box-details{
    margin-left: 57px;

}
.discount-bg-3{
    background-image: url("Images/Group\ 39.png");
}

.discount-box-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 57px;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    padding: 50px;
    
}

.discount-box-details h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}

.discount-box-details p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.discount-box-details button{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background-color: #FF5400;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.discount-box-details h5{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}

.time-place {
    display: flex;
    gap: 24px;
}

.time-place div{
    display: flex;
    align-items: center;
    gap: 3px;
}


/* Responsive for mobile devices */

@media screen and (max-width:600px) {
    header{
        margin: 20px auto;
        height: auto;
    }

    .header-container{
        height: 65px;
    }

    .hamburger{
        display: block;
    }

    .nav-item{
        display: none;
    }

    .travel-site-name{
        gap: 10px;
    }

    .travel-site-name .website-logo{

        width: 28.724px;
        height: 33.516px;
    }

    .travel-site-name .website-logo img{
        width: 100%;
    }

    .travel-site-name h1{
        margin-left: 1px;
        color: #131318;
        font-family: Mulish;
        font-size: 21.543px;
    }

    .travel-site-name h1 span{
        font-size: 21.543px;
        font-weight: 800;
    }

    .banner{
        margin: 19px auto;
        height: 483px;
        background-position: center;
        object-fit: cover;

    }

    .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image .travel-data-container{
        width: 95%;
        height: 90%;
        
    }

    .travel-data-container h1{
        width: 210px;
        height: 30px;
        font-size: 22px;
    }

    .travel-data-container p{
        margin-top: 9px;
        /* border: 1px solid red; */
        width: 304px;
        height: 63px;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;

    }

    .input-option-find{
        margin-top: 32px;
        width: 287px;
        height: 288px;
        gap: 16px;
        flex-direction: column;
    }

    .input-option-find > *{
        width: 255px;
        height: 52px;
    }

    
    .input-option-find input{
        padding: 0 15px;
    }
    
    main{
        margin: 24px auto;
    }

    .tour-advertise-section{
        flex-direction: column;
    }

    .tour-advertise-section .image{
        width: 100%;
        height: 342px;
        background-position: center;
    }

    .description{
        margin-top: 24px;
        width: 100%;
        height: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: rgb(255, 255, 255);
        box-shadow: 0px 0px 40px   grey ;
    }

    .description h6{
        font-size: 17px;
        font-weight: 800;

    }

    .description h1{
        margin: 16px 0;
        width: 250px;
        text-align: center;
        font-size: 20px;
        font-weight: 800;

    }

    .description p{
        text-align: center;
        width: 90%;
        font-size: 14px;

    }

    .popular-tour{
        height: auto;
        margin-top: 24px;
        flex-direction: column;
    }

    .tour-popular-details{
        display: block;
    }
    .popular-tour .tour-popular-details, .img{
        width: 100%;
    }
    
    .tour-popular-details h1{
        font-size: 20px;
    }
    
    .tour-popular-details p, ul li{
        font-size: 14px;
        line-height: 24px;
    }

    .tour-popular-details ul{
        margin: 16px 0 16px 20px;

    }

    .tour-popular-details ul li{
        margin-bottom: 12px;
    }

    .tour-popular-details .last-paragraph {
        margin-bottom: 24px;
    }
    
    .popular-tour .image{
        margin-top: 20px;
        width: 100%;
    }

    .tour-popular-details button{
        margin-top: 24px;
        font-size: 20px;
    }

    .aria {
        width: 100%;
        height: 175px;
        
    }
    .aria div{
        font-weight: 700;
    }

    .place{
        margin-top: 24px;
    }

    .place-container{
        gap: 16px;
    }

    .place h1{
        font-size: 20px;

    }

    .place p{
        margin: 16px auto;
        width: 309px;
        font-size: 14px;
        line-height: 24px;
    }

    .why-choose-us{
        margin-top: 24px;
    }

    .why-choose-us h1{
     font-size: 20px;       
    }

    .why-choose-us > p{
      font-size: 14px;  
      width: 309px;
      margin: 16px auto;
    }

    .services-container{
        margin-top: 16px;
        gap: 16px;
    }

    .services {
        height: 310px;
        width: 100%;
        gap: 16px;
        padding: 32px;
    }

    .services h3{
        margin: 16px 0 -2px 0;
        font-size: 20px;
    }
    .services p{
        font-size: 14px;
        width: 271px;
    }

    .deals-discount-section{
        margin-top: 24px;
    }

    .deals-discount-section p{
        margin-top: 16px;
        width: 309px;
    }

    .discount-box{
        margin-top: 16px;
        flex-direction: column;
        justify-content: flex-end;
    }

    .discount-box-details{
        margin: 0 auto;
        width: 90%;
        height: 76%;
        margin-bottom: 16px;
        padding: 26px;

    }

    .time-place {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }

    .time-place > *{
        width: 50%;
    }

    .time-place div:first-child{
        width: 100%;
        margin-bottom: 20px;
    }

    .discount-box-details h4{
        font-size: 20px;
        margin-top: 18px;
    }

    .discount-box-details p{
        width: 95%;
        text-align: left;
        margin-top: 8px;
        font-size: 14px;
        line-height: 24px;
    }

    .discount-box-details h5{
        margin: 12px 0 25px 0;
        font-size: 16px;

    }

    .discount-box-details button{
        font-size: 18px;
        font-weight: 700;
        width: 130px;
        height: 40px;
    }
    
    .discount-bg-2 .discount-box-details{
        margin: 0px auto 16px auto;
    
    }
}

